body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  background: #f1f3f4;
  font-size: 16px;
  color: #656565;
  letter-spacing: .1px;
 }

* {padding: 0; margin: 0; }

ul, li { list-style-type:none; padding:0; margin:0;}
a { text-decoration:none;}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #acacac; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #acacac; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #acacac; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #acacac; }

::placeholder {
  color: #acacac; }
.pull-right { float:right;}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material-font/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../fonts/material-font/MaterialIcons-Regular.woff2) format("woff2"), url(../fonts/material-font/MaterialIcons-Regular.woff) format("woff"), url(../fonts/material-font/MaterialIcons-Regular.ttf) format("truetype"); }
i {vertical-align: middle;}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
  
.container-fluid {max-width: 1200px; background:#fff; box-shadow:0 0 5px #e7e7e7; margin: 0 auto;}
.container-fluid a { color:#2dbd9a;}
.banner_section .row { margin-bottom:0;}
.container-fluid .col { padding:0; margin:0;}
header .col ul li { display:inline-block; line-height: 60px;}
header .col ul li a {text-align: center; padding: 13px 0px 0px; line-height: 16px; margin: 0px 10px 10px; font-size:14px; color:#616161; text-decoration:none; position:relative;}
header .col ul li a:hover, header .col ul li a.active { color:#1ea181; background:none;}
header .dropdown-content {min-width: 172px !important; top: 70px !important; left:82.7% !important;}
header .dropdown-content li { text-align:left!important; padding:5px 10px!important; margin:0!important;min-height: inherit; font-size: 14px; color:#b3b3b3;}
header .dropdown-content li a { text-align:left!important; margin:0!important; padding:0!important;}
header .dropdown-content li.divider {padding:0!important;}
header .dropdown-content li:hover { background:none;}
header nav { background:#fff!important; height:69px !important;}
header nav a.button-collapse {display: none;}

.logo { padding: 0 20px 0; display: inline-block;}
.logo img { width:80px; vertical-align: middle;}
.menu_main { padding: 14px 0; margin-top: 6px;}
header .pull-right {float: right; margin-right: 20px; width: initial;}
header ul.pull-right li a:after {bottom: -4px!important;}
header .pull-right i {font-size: 28px !important; float: left; vertical-align: middle; line-height: 18px; height: 30px; margin-right: 5px;}
header .pull-right ropdown-content li a { padding:5px 0!important;}
.menu_main a i {font-size: 16px;}
a.line { position:relative; z-index:9;}
header .col ul li a:hover:after, a.line:hover:after {width: 100%;}
header .col ul li a:after {
    content: '';
    bottom: -8px;
    height: 2px;
    left: 0;
    width: 0;
    background-color: #2dbd9a;
    position: absolute;
    transition: width .3s;
}
a.line:after {
    content: '';
    bottom: 12px;
    height: 2px;
    left: 0;
    width: 0;
    background-color: #2dbd9a;
    position: absolute;
    transition: width .3s;
}
header i { color:#999;}
.eligibility_but a:hover:after {content: none;}

.eligibility_but a {
    display: inherit;
    border: 1px solid #2dbd9a;
    border-radius: 3px;
    color: #2dbd9a!important;
    font-weight: 500;
    padding: 8px 18px !important;
	margin: 15px 0px 0 0px!important;
    text-transform: uppercase;
    transition: all 150ms ease;
}
.pull-right a.dropdown-button { padding:0; margin: 0 0 0 10px; line-height: 20px;}
.profile_text { font-size:12px!important; line-height:16px!important; color:#333!important; text-transform:uppercase!important;}
.profile_text span { color:#2dbd9a!important; font-size:12px!important; padding: 0 !important; text-transform: none!important;}
.eligibility_but a:hover { background: #2dbd9a!important; color: #fff !important; border: 1px solid #2dbd9a;}
header .container-fluid .row {position: fixed; width:1200px; background: #fff; border-bottom: 1px solid #f8f8f8; top: 0; z-index:99;}

.banner_section { margin-top:70px;}
.banner_section img { width:100%; float: left;}

.content_part { padding:80px; display: inline-block;}
.content_part h2 {font-size: 12px; line-height: 1.33; letter-spacing: 4px; font-weight: 500; text-transform: uppercase; color: #c8c8c8; padding-bottom: 0; margin: 0; font-family: 'Montserrat', sans-serif;}
.content_part h3 {font-size: 40px; font-weight: 600; margin: 10px 0 40px; line-height: 40px; font-family: 'Montserrat', sans-serif;}
.content_part a {font-size: 14px; padding: 20px 0; display: inline-block;}
.content_part h5 {
    font-size: 18px;
    line-height: 1;
    letter-spacing: .1px;
    font-weight: 500;
    color: #5e6369;
    padding-bottom: 8px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}
.content_part h5 span {font-size: 14px; font-weight: 600; color:#2dbd9a;}
.content_part h5.font24 {font-size: 24px;}
.content_part p {
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: .1px;
    font-weight: 300;
    color: #5e6369;
	font-family: 'Montserrat', sans-serif;
}
.content_part .s4 { padding:15px;}
.gray_light_sec { background:#fafafa;}
footer .container-fluid { box-shadow:none;}
.global_footer {
    background:#f1f3f4;/*#272a2c*/
    font-size: 14px;
    padding:30px 50px;
	text-align: center;
}
.global_footer a { color:#656565;}
.global_footer a:hover { color:#999; text-decoration:underline;}
.global_footer__container {
    display: inline-flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
}
.global_footer__section {
    flex-grow: 0;
    padding: 0 24px;
    width: 50%;
    min-width: 120px;
}
.global_footer__section__title {
    color: #fff;
    cursor: default;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 600;
	font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.global_footer__group {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 24px 0 0 0;
	font-family: 'Montserrat', sans-serif;
    padding: 0;
    vertical-align: baseline;
}
.global_footer__section {
    width: auto;
}
.global_footer_item a {color: #fff; opacity: .48; height: 20px; overflow: hidden; display: inline-block;}
.we_care_main .aos-item__inner {text-align: center;}
.we_care_main .content_part.aos-item__inner { text-align:left;}
.we_care_main img {width: 300px; margin: 130px 0 30px; float: none;}

.we_care_main.features_sec_main {border-bottom:1px solid #f8f8f8;}
.we_care_main.features_sec_main img { width: 250px; margin:20px auto; float: none;	display: inherit;}

.how_to_get .content_part { padding:80px 40px 0; position:relative; width: 100%;}
.how_to_get .content_part .s4 {padding:0 15px;}
.app_img img { width:300px; float: none; margin: 130px 0 0 100px;}
.how_to_get .content_part img { width:300px;}
.position_img {min-height: 396px;}
.position_img img { position:absolute; right:80px; bottom:0; }
.how_to_get .content_part h5 { text-align:center;}

.how_to_get .content_part a img {width:200px; transition: all 150ms ease;}
.how_to_get .content_part a img:hover { opacity:0.6; }

.map_img_sec { position:relative; height:560px; overflow:hidden; background: #fff; border-bottom:1px solid #f8f8f8;}
.map_img_sec video {position: absolute; left: 0; z-index: 0; top:2px; width:100%;}
.map_img_sec .well {width: 60%; padding: 100px; float: left; z-index: 9; position: absolute;}
.map_img_sec h2 {font-size: 50px; font-weight: 500; font-family: 'Montserrat', sans-serif; line-height: 50px;}
.map_img_sec h2 strong { color:#f24e4e; text-transform: uppercase; font-weight: 600;}
.profile_img { position: absolute; right: 0; height: 660px;}
.profile_img img {height: 660px; width: 730px;}
.map_img_sec img.map_section {height: 660px; margin-left: -131px;}

.phone_banner img { width:250px; float:left; margin-left: 150px; margin-top: 50px;}
.position_drop { position:relative;}
header .position_drop .dropdown-content {min-width: 200px !important; top: 50px !important; left: 0 !important;}

.down_arrow {position: absolute; z-index: 9; bottom: 0; padding: 0; margin: 0; left: 40px;}
/*.map_img_sec video {margin-left: -132px;}*/
.down_arrow2 {position: absolute; z-index: 9; bottom: 0; padding: 0; margin: 0; right: 40px;}

footer ul li a span {display: inline-block; position: relative; transition: transform 0.3s ease 0s;}
footer ul li a span:before {content: attr(data-hover); position: absolute; top: 100%; transform: translate3d(0px, 0px, 0px); color:#39d2b8;}
footer ul li a:hover span, footer ul li a:focus span {transform: translateY(-100%);}
footer ul li a.active:hover span {transform: translateY(0px);}


/* Basic jQuery Slider essential styles */
#banner-fade {z-index: 9; margin: 100px 0 0 150px;}
ul.bjqs-controls, .bjqs-markers { display:none;}
ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}

/* menu css */
div.card-container {
  height: 200px;
  line-height: 200px;
  width: 100%;
  text-align: center;
  position: relative;
  padding: 0 24px;
}

.card-container img.card-cover-img{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

span.card-text-container {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: #fff;
  position: relative;
  z-index: 2;
  font-size: 2rem;
}

.center_head { text-align: center; font-size: 40px; font-weight: 600; text-transform: uppercase; margin: 20px 0 0; line-height: 40px; font-family: 'Montserrat', sans-serif; border-bottom: 1px dashed #eee; padding: 20px 0;}
.list { margin-top:20px;}
.list li { padding-bottom:10px; font-size:14px; padding-left: 20px; position: relative;}
.list li:after { content: ''; width: 10px; height: 10px; background: #eee; position: absolute; top:6px; left: 0px; border-radius:50%;}

.pull-left { width:50%; float:left;}
.pull-right { width:50%; float:right;}
.contact_us_main {min-height:700px;}
.gps-fleet-tracking_banner { position:relative;}
.gps-fleet-tracking_banner h3 { position:absolute; font-size: 40px; font-weight: 600; font-family: 'Montserrat', sans-serif; width: 400px; line-height: 50px; text-shadow: 5px 5px 10px #000; color:#fff; right: 10px; top: 35px;}
footer { position:relative;}
footer .row { margin:0; padding:0;}
footer .col.s4 { text-align: left;}
footer h5 { text-transform: uppercase; font-weight: 600; font-size: 18px; font-family: 'Montserrat', sans-serif;}
footer p, footer a { font-family: 'Montserrat', sans-serif; margin-bottom:10px; font-size: 12px;}
footer .gray_l {color: #999; font-size: 12px; float: left; text-decoration: underline;}

.contact_us_main .we_care_main.features_sec_main { border-bottom: none!important;}
.content_part p.benefits-group_description { padding-bottom:20px;}
.social li { display:inline-block;}
.social li img { width:20px; height:20px; margin-right: 8px;}
.social li img:hover { opacity:0.7;}

@media only screen and (min-width: 993px){
nav a.button-collapse {
    display: block;
}
}



@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(10deg);}
    50%{-webkit-transform: rotate(-5deg)}
    100%{-webkit-transform: rotate(10deg);}
}
 
@keyframes swinging{
    0%{transform: rotate(10deg);}
    50%{transform: rotate(-5deg)}
    100%{transform: rotate(10deg);}
}
 
.swingimage{
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
    animation: swinging 3.5s ease-in-out forwards infinite;
}



@media only screen and (min-width: 320px) and (max-width: 992px) {
	.container-fluid, header .container-fluid .row { max-width:100%; width:100%;}
	#sidenav-overlay {z-index: 9 !important;}
	header nav a.button-collapse {display: block!important;}
	.content_part, .how_to_get .content_part {padding:30px 20px;}
	.container-fluid .row .col.s6, .container-fluid .row .col.s4, .container-fluid .row .col.s3, .container-fluid .row .col.s6 { width:100%;}
	.col.s6.app_img, .we_care_main { text-align:center;}
	.col.s6.app_img img, .we_care_main img {width: 250px; float: none; margin: 20px auto;}
	.container-fluid .row .col.s3 { text-align:center;}
	.how_to_get .content_part img {width: 250px; float: none; margin: 30px 0;}
	.position_img img {position: inherit;}
	.logo img {margin-top: 6px;}
	.global_footer__section {margin: 0 auto 20px;}
	#banner-fade { margin:0;}
	.map_img_sec h2 {font-size: 24px; line-height: 30px; padding: 20px;}
	.map_img_sec video {left: 50%; right: 0; top: 180px; transform: translateX(-75%); width: 700px;}
	.pull-left, .pull-right { width: 100%; float: none;}
	header .col ul li {display: block;}
	.side-nav {width: 270px!important;}
	.side-nav a {height: 35px; line-height: 35px !important; text-align: left !important; border-bottom: 1px solid #eee; padding: 0 10px!important; margin: 0 !important;}
	.eligibility_but a { border:none !important; background:#2dbd9a!important; color:#ffffff!important; border-radius:0!important;}
	.side-nav a i {display: inline-block; height: 24px; line-height: 20px;}
	header .col ul li a:after {bottom: 0!important;}
	header .dropdown-content {min-width: 172px !important; top: inherit !important; left: 0!important;}
	header .dropdown-content li { padding:0!important;}
	header .dropdown-content li a {padding:0 10px!important;}
	header .dropdown-content li.profile_text {padding:10px!important;}
	.gps-fleet-tracking_banner h3 {font-size: 15px; width: 100%; text-align: center; right: 0;}
	.global_footer__section {padding: 0!important;}
	footer .col.s4, footer, footer .gray_l { text-align:center; float:none;}
	}

@media only screen and (min-width: 481px) and (max-width: 992px) {
	.gps-fleet-tracking_banner h3 {font-size: 24px;}
}

@media only screen and (min-width: 993px) and (max-width: 1199px) {
	.container-fluid, header .container-fluid .row { max-width:100%; width:100%;}
	.map_img_sec h2 {font-size: 30px; line-height: 36px;}
	.map_img_sec {height: 470px;}
	.content_part {padding:30px 20px;}
	.position_img img {right: 0;}
	.how_to_get .content_part img {width: 228px;}
	.position_img {min-height: 302px;}
	.map_img_sec video {width: 86%;}
	
}